<div class="modal-dialog modal-xl modal-custom-xl modal-dialog-centered d-flex align-items-center justify-content-center" role="document">
  <!-- Agregué la clase 'modal-xl' para hacer el modal más grande -->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar Correo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h2>Hola</h2>
      <%= form_with model: @usuario, url: update_email_path(@usuario), method: :patch, remote: true do |f| %>
        <div class="form-group">
          <%= f.label :email, 'Nuevo Correo' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Actualizar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
